{
  "option_settings": [
    {
      "namespace" : "aws:ec2:vpc",
      "option_name" : "VPCId",
      "value" : "vpc-d30cc7ab"
    },
    {
      "namespace" : "aws:ec2:vpc",
      "option_name" : "Subnets",
      "value" : "subnet-66e4d33c"
    },
    {
      "namespace" : "aws:ec2:vpc",
      "option_name" : "ELBSubnets",
      "value" : "subnet-66e4d33c"
    },
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "SecurityGroups",
      "value": "sg-0340d4d153f6bb472,sg-c1315eb4"
    },
    {
      "namespace": "aws:elb:loadbalancer",
      "option_name": "SecurityGroups",
      "value": "sg-0340d4d153f6bb472,sg-c1315eb4"
    },
    {
      "namespace": "aws:elb:listener",
      "option_name": "InstancePort",
      "value": 3030
    },
  ]
}